@model AuctionSite.Models.ChangeEmailViewModel
@using AuctionSite.Resources
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using System.Globalization;
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@{
    var currentCulture = CultureInfo.CurrentUICulture;

    var checkCurrentEmailLabel = AuctionSite.Resources.SharedResources.ResourceManager.GetString("CheckCurrentEmail", currentCulture) ?? "";
    var emailConfirmationInstructionsCurrentEmail = AuctionSite.Resources.SharedResources.ResourceManager.GetString("EmailConfirmationInstructionsCurrentEmail", currentCulture) ?? "";
    var backToManageAccountLabel = AuctionSite.Resources.SharedResources.ResourceManager.GetString("BackToManageAccount", currentCulture) ?? "";

    ViewData["Title"] = checkCurrentEmailLabel;
}

<h1>@checkCurrentEmailLabel</h1>

<div class="alert alert-success">
    <p>@TempData["SuccessMessage"]</p>
    <p>@emailConfirmationInstructionsCurrentEmail</p>
</div>

<p>
    <a asp-controller="Account" asp-action="Manage" class="btn btn-primary">@backToManageAccountLabel</a>
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
