@using AuctionSite.Resources
@using System.Globalization;
@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedResources> SharedLocalizer

@{
    var currentCulture = CultureInfo.CurrentUICulture;

    var passwordResetConfirmationTitle = AuctionSite.Resources.SharedResources.ResourceManager.GetString("PasswordResetConfirmationTitle", currentCulture) ?? "";
    var passwordResetConfirmationMessage = AuctionSite.Resources.SharedResources.ResourceManager.GetString("PasswordResetConfirmationMessage", currentCulture) ?? "";

    ViewData["Title"] = passwordResetConfirmationTitle;
}

<h1>@ViewData["Title"]</h1>
<p>
    @passwordResetConfirmationMessage
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
